MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mail-to-send@gmail.com
MAIL_PASSWORD=mail-to-send-password
MAIL_FORWARD=mail-to-receive@gmail.com

JWT_SECRET=thisIsMysecregtfrdesww233eggtffeeddgkjjhhtdhttebd54ndhdhfhhhshs8877465sbbdd
JWT_EXPIRATION=3600000