@import "tailwindcss";

@layer base {
  h1 {
    @apply text-7xl font-medium dark:text-white;
  }
  h2 {
    @apply text-6xl font-medium dark:text-white;
  }
  h3 {
    @apply text-5xl font-medium dark:text-white;
  }
  h4 {
    @apply text-4xl font-light dark:text-white;
  }
}

@theme {
  --breakpoint-xs: 300px;
  --font-display: "Roboto", Helvetica, Arial, sans-serif; 
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  line-height: 1.5;
  font-weight: 400;

  background-color: #eeeeee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --header-bar-height: 64px;
  --bottom-bar-height: 80px;
}

body {
  margin: 0px;
  min-width: 320px;
  min-height: 100vh;
}
